main
	position: relative

	&.index
		background-attachment: fixed !important
		background-position: center !important
		background-size: cover !important
		background-repeat: no-repeat !important
		color: white
		text-align: center

		a
			color: white

			&:hover
				color: rgba(255, 255, 255, 0.7)

		.footer-items,
		.kc-ml-languages,
		.logo
			position: absolute

		.footer-items
			bottom: 0
			left: 1em

		.kc-ml-languages
			display: none !important
			right: 10em
			top: 1em

		.logo
			left: 1em
			top: 1em

		.menu
			font-size: 33px
			font-weight: bold
			margin-bottom: 1em
			padding: 0
			text-align: center

			li
				display: block
				//margin-top: -1em
				line-height: 1em

			ul
				list-style-type: none
				margin-bottom: 0
				padding: 0

		.prod-team
			display: none !important

	&:not(.index)
		margin-top: $menu_height

.vertical-align
	& > *
		display: inline-block !important
		vertical-align: middle

	&:before
		content: ''
		display: inline-block
		height: 100%
		margin-right: -0.25em
		vertical-align: middle

@media screen and (min-width: $tablet)
	main.index
		.kc-ml-languages,
		.prod-team
			display: block !important

		.menu
			font-size: 66px

	.vertical-align:before
		margin-right: -0.25em