article
	padding: 0 1em

.announcements
	font-size: 17px
	margin: 0 auto
	text-align: center

	span
		display: inline-block
		border: 3px solid
		line-height: 1em
		padding: 0.75em 1em

.artist
	box-sizing: border-box

	&.list
		background: none !important
		padding-left: 2em

		span,
		.view-artist
			display: none

		.artist-link
			border-bottom: 2px solid transparent
			color: black
			display: inline-block
			font-size: 19px
			font-weight: 500
			padding-bottom: 0.25em
			text-decoration: none
			transition: border-color 0.3s

			&:hover
				border-color: black

		&:not(:last-of-type)
			margin-bottom: 1em

	&.thumb
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		padding: 1em
		position: relative
		text-align: center

		.artist-name
			font-size: 18px
			font-weight: bold
			padding: 6em 0
			position: relative
			z-index: 2
			transition: background-color 0.3s

		.artist-link
			display: none

		.view-artist
			background-color: black
			bottom: 3em
			color: white
			display: block
			font-size: 10px
			font-weight: bold
			left: calc(50% - 34px)
			opacity: 0
			padding: 0.25em 0.5em
			pointer-events: none
			position: absolute
			text-transform: uppercase
			transition: opacity 0.3s

			&:before
				border: 1px solid black
				bottom: 3em
				content: ''
				height: 4em
				left: calc(50% - 1px)
				position: absolute

		&:before
			background-color: rgba(255, 255, 255, 0.75)
			content: ''
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%
			z-index: 1

		&:hover
			.artist-name
				background-color: rgba(255, 255, 255, 0.8)

			.view-artist
				opacity: 1
				pointer-events: initial

		&:not(:last-of-type)
			margin-bottom: 2em

.artists
	list-style-type: none
	margin: 0 auto
	margin-top: 2em
	padding: 0
	width: 80%

.events
	bottom: -2em
	left: 2em
	position: absolute
	width: 120px

	h3,
	p,
	ul
		margin-bottom: 0.5em
		margin-top: 0

	h3
		font-size: 11px
		font-weight: 500
		text-transform: uppercase

	p
		font-size: 12px

	ul
		list-style-type: none
		padding: 0

		li
			font-size: 14px
			font-weight: bold

			&:not(:first-of-type):not(:nth-child(2)):before,
			&:first-of-type:after
				border: 1px solid
				content: ''
				display: block
				margin: 0.25em 0
				width: 30%

.footer-item
	margin-bottom: 1em

.footer-items
	font-size: 14px
	font-weight: bold
	line-height: 1em
	list-style-type: none
	margin-bottom: 0
	padding: 0
	text-align: left

.index-menu
	margin-bottom: 14em
	margin-top: 2em

.kc-ml-languages
	display: none
	list-style-type: none
	margin: 0
	padding: 0
	font-size: 12px
	font-weight: 500

	li
		display: inline-block
		text-transform: uppercase

		&:not(:first-of-type):before
			content: '/'
			display: inline-block
			margin-right: 0.2em

.logo
	display: inline-block
	position: relative
	z-index: 2
	
	a
		font-size: 4rem

.navigation-menu
	background: rgba(255, 255, 255, 0.7)
	border: 10px solid black
	border-bottom: none
	left: 0
	position: fixed
	top: 0
	width: 100%
	z-index: 999999999999999

	.menu
		font-family: 'suisse_works'
		font-weight: bold
		text-transform: lowercase

	.social-networks
		display: none
		margin: 0

		.social-network
			color: white

.next-post-link,
.prev-post-link
	bottom: 0
	display: none
	position: fixed
	text-align: center
	top: 0
	-webkit-writing-mode: vertical-lr
	-moz-writing-mode: vertical-lr
	-ms-writing-mode: vertical-lr
	writing-mode: vertical-lr
	z-index: 0

	a
		color: rgba(0, 0, 0, 0.3)
		font-size: 14px
		font-weight: 500

		&:hover
			color: black

	i
		margin: 0.2em 0

.next-post-link
	right: 1em

.prev-post-link
	left: 1em
	transform: rotate(180deg)

.picture-credits
	bottom: 0
	display: none
	font-size: 12px
	font-weight: 500
	line-height: 1em
	position: absolute
	right: 0
	text-align: center
	top: 0
	transform: rotate(180deg)
	-webkit-writing-mode: vertical-lr
	-moz-writing-mode: vertical-lr
	-ms-writing-mode: vertical-lr
	writing-mode: vertical-lr
	z-index: 0

	span
		&:not(:first-of-type):before
			content: '/'
			display: inline-block
			margin-right: 0.2em

.post-actions
	text-align: center

	[class^="icon-"]
		background: black
		border: 1px solid black
		border-radius: 50%
		color: black
		display: inline-block
		font-size: x-large
		height: 25px
		transition: all 0.3s
		width: 25.5px

	.post-attachment-link
		display: inline-block
		padding: 0.5em
		width: 100px

		&:hover
			[class^="icon-"]
				color: white

	.post-attachment-text
		font-size: 14px
		font-weight: 500

	.post-share
		margin-top: 1em

		[class^="icon-"]
			background: white
			border-color: white

			&:hover
				background: black
				border-color: black
				color: white

	.post-share-text
		font-size: 14px
		font-weight: 500
		text-transform: uppercase

	.social-networks
		margin-top: 3em
		position: relative

		&:before
			border: 1px solid black
			content: ''
			height: 2em
			left: calc(50% - 1px)
			position: absolute
			top: -2.5em

.post-content
	position: relative

	p
		font-size: 14px

		&:first-of-type
			font-size: 20px
			font-weight: bold
			text-align: center

.post-gallery
	margin: 0 auto
	position: relative

	figcaption
		margin-top: 0.5em

		div
			font-size: 12px
			text-transform: uppercase

			&.line1
				font-weight: bold

	.gallery-controls
		left: -1em
		position: absolute
		right: -1em
		top: 45%
		z-index: 2

		div
			cursor: pointer
			display: inline-block

			&.owl-next
				float: right

			&.owl-prev
				float: left

.post-title
	font-size: 38px
	font-weight: bold
	text-align: center

.prod-team
	font-family: monocromo
	position: absolute
	right: 0.5rem
	-webkit-text-orientation: upright
	-moz-text-orientation: upright
	-ms-text-orientation: upright
	text-orientation: upright
	top: 0.5rem
	-webkit-writing-mode: vertical-lr
	-moz-writing-mode: vertical-lr
	-ms-writing-mode: vertical-lr
	writing-mode: vertical-lr
	z-index: 1

	a
		display: inline-block
		transition: transform 0.3s

		&:hover
			transform: rotate(90deg)

.select-display
	font-size: 12px
	font-weight: 500
	list-style-type: none
	padding: 0
	text-transform: uppercase

	a
		color: rgba(0, 0, 0, 0.3)

	li
		display: inline-block
		padding: 0.2em
		width: 49%

		&.active a,
		a:hover
			color: black

		&:first-of-type
			text-align: right

	span
		margin: 0 0.25em
		vertical-align: middle

		&[class^="icon-"]
			font-size: x-large

.social-networks
	list-style-type: none
	margin: 0.5em 0
	padding: 0
	text-align: center

	.social-network
		display: inline-block
		font-size: 1.5em
		padding: 0.25em

@media screen and (max-width: $tablet)
	.navigation-menu
		height: $menu_height
		transition: all 0.3
		width: 100%

		nav,
		.kc-ml-languages,
		.prod-team
			display: none

		nav
			width: 100%

		ul
			list-style-type: none
			padding: 0
			text-align: center

		.kc-ml-languages
			.current-language a
				color: rgba(255, 255, 255, 0.7)


		.logo
			left: 10px
			position: absolute
			top: 0

		.menu
			font-size: 33px

		.nav-footer
			bottom: 1em
			left: 0
			position: absolute
			right: 0

		#hamburguer
			cursor: pointer
			font-size: 1.5em
			position: absolute
			right: 1em
			top: 1em
			transition: color 0.3s

@media screen and (min-width: $tablet)
	article
		margin: 0 auto
		width: 70%

	.artists
		li
			display: inline-block
			width: 49%

		&.list
			width: 60%

			li
				padding-left: 0

		&.thumb
			text-align: center
			width: 100%

			li
				margin: 1em
				width: 250px

			.artist-name
				padding: 3em 0

			.view-artist
				bottom: 1em

				&:before
					bottom: 2.5em
					height: 2em

	.index-menu
		margin-bottom: 0
		margin-top: 0

	.footer-item
		display: inline-block
		text-align: left

		&:not(:last-of-type)
			margin-right: 2em

	.footer-items
		left: 0
		right: 0
		text-align: center

	.kc-ml-languages
		display: inline-block

	.navigation-menu
		nav
			display: inline-block
			vertical-align: top

		ul
			list-style-type: none
			padding: 0

		li
			display: inline-block

		.kc-ml-languages
			position: absolute
			right: 5em
			top: 1em

		.kc-ml-languages,
		.menu
			a
				color: rgba(0, 0, 0, 0.3)

			a:hover,
			li.current_page_item a,
			li.current-language a
				color: black

		.menu li
			margin-left: 1em

		#hamburguer
			display: none !important

	.next-post-link,
	.prev-post-link
		display: block

	.picture-credits
		display: block

	.post-gallery
		figcaption
			div
				display: inline-block

		.gallery-controls
			left: -4em
			right: -4em

@media screen and (min-width: $desktop)
	.artists
		&.thumb
			li
				width: 250

	.navigation-menu
		nav
			left: 0
			position: absolute
			right: 0
			text-align: center

		.kc-ml-languages
			right: 10em

	.post-actions
		position: absolute
		right: -9em
		top: 6em

	.post-content
		margin: 0 auto
		width: 55%