article
	padding: 0 1em

	&.artist
		margin-top: 5em

		.post-content
			margin-top: 0

		.post-title
			margin: 0.5em auto
			text-shadow: 1px 1px white

	&.exhibition
		.post-actions
			top: 0

		.post-info
			font-weight: 500
			margin: 0.5em auto 2em auto
			text-align: center
			text-transform: uppercase

		.post-title
			margin: 0
			text-transform: uppercase

		.post-subtitle
			font-size: 28px
			font-weight: 500
			letter-spacing: 0.1em
			margin: 0.5em auto
			max-width: 400px
			text-transform: uppercase

	&.post
		margin-bottom: 1em

		.post-actions
			top: 0

		.post-attachment-link
			text-transform: uppercase
			
		.post-title
			margin-top: 0.1em

.announcements
	font-size: 11px
	font-weight: 500
	letter-spacing: 0.2em
	margin: 0 auto
	text-align: center
	text-transform: uppercase

	span
		display: inline-block
		border: 3px solid
		line-height: 1em
		padding: 0.7em 1em

.arrow
	margin-top: 2em
	text-align: center
	//transition: all 0.3s

.artist
	box-sizing: border-box

	&.list
		background: none !important
		padding-left: 2em

		span,
		.view-artist
			display: none

		.artist-link
			border-bottom: 2px solid transparent
			color: black
			display: inline-block
			font-size: 12px
			font-weight: 500
			letter-spacing: 0.1em
			padding-bottom: 0.25em
			text-decoration: none
			text-transform: uppercase
			transition: border-color 0.3s

			&:hover
				border-color: black

		&:not(:last-of-type)
			margin-bottom: 1em

	&.thumb
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		padding: 0.7em
		position: relative
		text-align: center

		.artist-name
			display: block
			font-size: 18px
			font-weight: bold
			padding: 6em 0
			position: relative
			z-index: 2
			transition: background-color 0.3s

			&:hover
				color: initial

		.artist-link
			display: none

		.view-artist
			display: inline-block
			//left: calc(50% - 42.5px)
			opacity: 0
			pointer-events: none
			//position: absolute

			&:before
				border: 1px solid black
				bottom: 3em
				content: ''
				height: 4em
				left: calc(50% - 1px)
				position: absolute

		.view-artist-cont
			bottom: 0.5em
			left: 0
			position: absolute
			right: 0

		&:before
			background-color: rgba(255, 255, 255, 0.75)
			content: ''
			height: 100%
			left: 0
			position: absolute
			top: 0
			transition: 0.3s background-color
			width: 100%
			z-index: 1

		&:hover
			.artist-name
				background-color: rgba(255, 255, 255, 0.8)

			.view-artist
				opacity: 1
				//pointer-events: initial

			&:before
				background-color: rgba(255, 255, 255, 0)

		&:not(:last-of-type)
			margin-bottom: 0.9em

.artists,
.news
	list-style-type: none
	margin: 0 auto
	margin-top: 2em
	padding: 0

.artists
	width: 80%

.events
	bottom: 2em
	display: none
	font-size: 12px
	left: 2em
	position: absolute
	width: 120px

	a
		border-bottom: 2px solid transparent
		padding-bottom: 1px
		transition: all 0.3s

		&:hover
			border-bottom: 2px solid
			color: initial

	h3,
	p,
	ul
		margin-bottom: 0.5em
		margin-top: 0

	h3
		font-size: 10px
		font-weight: 500
		text-transform: uppercase

	p
		font-size: 12px

	ul
		list-style-type: none
		padding: 0

		li
			font-size: 12px
			font-weight: bold

			&:not(:first-of-type):not(:nth-child(2)):before,
			&:first-of-type:after
				border: 1px solid
				content: ''
				display: block
				margin: 0.5em 0
				width: 30%

.exhibition-current
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	margin: 2em auto 4em auto
	padding: 1em
	position: relative

	.exhibition-artist
		font-size: 32px
		font-weight: bold
		margin: 0
		text-transform: uppercase

	.exhibition-content
		background: rgba(255, 255, 255, 0.8)
		height: 100%
		padding: 7em 1em
		text-align: center
		transition: 0.3s all

		.exhibition-type:after
			bottom: -9.5em
			height: 9em

	.exhibition-detail
		font-size: 20px
		font-weight: bold
		line-height: 1em
		margin: 0 auto 1em auto

	.exhibition-text
		font-size: 18px
		font-weight: bold
		margin: 0 auto
		text-transform: uppercase

		p
			margin-bottom: 1em
			margin-top: 0

			&:last-of-type
				margin-bottom: 0

	.exhibition-title
		font-size: 24px
		font-weight: bold
		line-height: 1em
		margin: 0.5em auto
		text-transform: uppercase

	.read-more
		display: inline-block

	&:hover .exhibition-content
		background-color: white

.exhibition-group
	display: none
	position: relative
	//opacity: 0
	//transition: 0.5s all

	.exhibition-close
		font-weight: bold
		line-height: 1em
		position: absolute
		right: -0.5em
		top: -1em

	/*&.visible
		opacity: 1*/

.exhibition-link
	display: block
	height: 100%
	left: 0
	position: absolute
	top: 0
	width: 100%

.exhibition-past
	display: inline-block
	margin: 1em 0
	position: relative
	text-align: left
	width: 300px

	.exhibition-artist
		font-size: 20px
		font-weight: bold
		margin: 0

	.exhibition-detail
		font-size: 14px
		font-weight: normal
		margin: 0

	.exhibition-img
		background-position: center
		background-size: cover
		height: 180px
		padding: 1em

		a
			display: block
			height: 100%
			width: 100%

		& > div
			background-color: rgba(255, 255, 255, 0.7)
			height: 100%
			line-height: 142px
			opacity: 0
			text-align: center
			transition: 0.3s all

			.read-more
				display: inline
				padding: 0.5em 0.75em
				pointer-events: none

	.exhibition-title
		font-size: 18px
		font-weight: bold
		margin: 0
		margin-top: 0.25em

	&:hover .exhibition-img > div
		opacity: 1

.exhibition-type
	font-size: 12px
	font-weight: bold
	left: 0
	position: absolute
	right: 0
	text-transform: uppercase
	top: -3em

	&:after
		border: 1px solid
		bottom: -6em
		content: ''
		height: 5.5em
		left: calc(50% - 1px)
		position: absolute

.footer-item
	margin-bottom: 1em

.footer-items
	font-size: 13px
	font-weight: 500
	letter-spacing: 0.05em
	line-height: 1em
	list-style-type: none
	margin-bottom: 0
	padding: 0
	text-align: left

.index-menu
	margin-bottom: 14em
	margin-top: 2em

.kc-ml-languages
	display: none
	letter-spacing: 0.1em
	list-style-type: none
	margin: 0
	padding: 0
	font-size: 10px
	font-weight: 500

	li
		display: inline-block
		text-transform: uppercase

		&:not(:first-of-type):before
			content: '/'
			display: inline-block
			margin-right: 0.2em

.loader
	background: url(ajax-loader.gif) center no-repeat
	height: 500px
	width: 100%

.logo
	display: inline-block
	margin: 0 0.5em
	position: relative
	z-index: 2
	
	a
		font-size: 3rem

.navigation-menu
	background: rgba(255, 255, 255, 0.7)
	border: 10px solid black
	border-bottom: none
	left: 0
	position: fixed
	top: 0
	width: 100%
	z-index: 999999999999999

	.menu
		font-weight: bold
		letter-spacing: 0.1em
		text-transform: uppercase

	.social-networks
		display: none
		margin: 0

		.social-network
			color: white

.next-post-link,
.prev-post-link
	bottom: 0
	display: none
	position: fixed
	text-align: center
	text-transform: uppercase
	top: 0
	-webkit-writing-mode: vertical-lr
	-moz-writing-mode: vertical-lr
	-ms-writing-mode: vertical-lr
	writing-mode: vertical-lr
	z-index: 0

	a
		color: rgba(0, 0, 0, 0.3)
		font-size: 12px
		font-weight: bold
		letter-spacing: 0.2em

		&:hover
			color: black

	i
		margin: 0.2em 0

.next-post-link
	right: 1em

.newsletter
	padding: 3em 1em 1em 1em
	position: relative
	text-align: center

	form
		margin-bottom: 2em

		input[type="email"],
		input[type="text"]
			background: black
			border: none
			color: white
			font-family: 'suisse_works'
			font-size: 14px
			font-weight: bold
			outline: none
			padding: 0.25em 0.5em
			width: 240px

			+placeholder()
				color: white
				text-transform: lowercase

		input[type="submit"]
			background: white
			border: 2px solid black
			font-size: 12px
			font-weight:  bold
			outline: none
			padding: 0.3em 0.5em
			text-transform: uppercase
			transition: 0.5s all

			&:hover
				background: black
				color: white

	.events
		display: block
		position: initial
		text-align: initial

	.newsletter-subtitle
		font-size: 14px
		font-weight: 500
		margin-top: 0.5em
		text-transform: uppercase

	.newsletter-title
		font-size: 36px
		font-weight: bold
		line-height: 1em
		margin: 0.25em auto
		text-transform: lowercase

.news-filter
	display: none
	position: absolute
	right: 5vw
	text-align: center
	text-transform: uppercase
	top: 4em

	.news-filter-title
		font-size: 12px
		font-weight: bold

		&:after
			border: 1px solid
			content: ''
			display: block
			height: 3em
			margin: 0.5em auto
			width: 0

	.filter
		list-style-type: none
		margin: 0
		padding: 0

	.filter-item
		font-size: 11px
		font-weight: 500
		margin: 0.5em

		a
			color: rgba(0, 0, 0, 0.3)

			&.active,
			&:hover
				color: black

.news-item
	background-repeat: no-repeat
	background-size: auto 70%
	box-sizing: border-box
	margin: 2em auto 6em auto
	max-width: 700px
	padding: 1em
	position: relative
	text-align: center

	.news-date
		font-size: 12px
		font-weight: 500

	.news-excerpt
		font-family: suisse_works
		font-size: 14px
		font-weight: bold
		line-height: 1.5em
		margin: 0 auto
		max-width: 450px

	.news-title
		font-size: 32px
		font-weight: bold
		margin: 0.5em auto
		max-width: 400px

	.read-more
		display: inline-block

	& > div
		position: relative
		z-index: 2

	&:before
		background-color: rgba(255, 255, 255, 0.4)
		content: ''
		height: 100%
		left: 0
		position: absolute
		top: 0
		width: 100%
		z-index: 1

.owl-controls
	display: none

.page-numbers
	list-style-type: none
	margin: 0 auto
	padding: 0
	text-align: center
	width: auto

	li
		display: inline-block
		font-size: 12px
		font-weight: 500
		margin: 0 0.5em
		vertical-align: middle

	.page-numbers
		display: block
		padding: 0.5em
		transition: all 0.3s

		&.next,
		&.prev
			background-color: white
			border-radius: 50%
			font-size: 22px
			height: 24px
			padding: 0
			width: 24px

			&:hover
				background-color: black
				color: white

		&:not(.prev):not(.next)
			color: rgba(0, 0, 0, 0.3)

			&.current,
			&:hover
				color: black

.past-exhibitions
	margin-top: 10em
	position: relative
	text-align: center

	.exhibition-type
		top: -8em

	.past-exhibition-by-year
		position: relative

	.past-exhibition-year
		font-size: 32px
		font-weight: bold
		margin: 0.5em auto

		a
			color: rgba(0, 0, 0, 0.3)

		&.active a,
		a:hover
			color: black

.prev-post-link
	left: 1em
	transform: rotate(180deg)

.picture-credits
	bottom: 0
	display: none
	font-size: 9px
	letter-spacing: 0.2em
	line-height: 1em
	margin-right: 1em
	position: absolute
	right: 0
	text-align: center
	text-transform: uppercase
	top: 0
	transform: rotate(180deg)
	-webkit-writing-mode: vertical-lr
	-moz-writing-mode: vertical-lr
	-ms-writing-mode: vertical-lr
	writing-mode: vertical-lr
	z-index: 0

	span
		&:not(:first-of-type):before
			content: '/'
			display: inline-block
			margin-right: 0.2em

.post-actions
	text-align: center

	.post-attachment-link
		display: inline-block
		padding: 0.5em
		width: 100px

		[class^="icon-"]
			border-radius: 50%
			box-shadow: 0 0 0 1px transparent
			display: inline-block
			font-size: x-large
			transition: all 0.3s

		&:hover
			[class^="icon-"]
				background: black
				box-shadow: 0 0 0 1px black
				color: white

	.post-attachment-text
		font-size: 14px
		font-weight: 500

.post-content
	position: relative
	//transition: all 0.3s

	h2
		font-size: 20px
		font-weight: bold
		text-align: center

	p
		font-size: 14px
		line-height: 1.8em

.post-date
	font-size: 12px
	font-weight: 500
	margin: 0 auto
	text-align: center

.post-gallery
	margin: 0 auto
	position: relative
	
	button
		position: absolute
		right: 1em
		top: 1em
		z-index: 999

		&.exit-fs
			background: rgba(255, 255, 255, 0.4)
			border-radius: 2px
			display: none
			font-size: x-small
			font-weight: bold
			letter-spacing: 0.1em
			padding: 0.25em
			text-transform: uppercase

			span
				vertical-align: middle

			.icon-close
				border-radius: 50%
				box-shadow: 0 0 0 1px white
				display: inline-block
				font-size: medium
				margin: 0 0.2em
				transition: 0.3s all

			&:hover .icon-close
				background-color: black
				box-shadow: 0 0 0 1px black
				color: white

		&.icon-expand
			background-color: black
			border-radius: 50%
			box-shadow: 0 0 0 1px black
			color: white
			display: none
			font-size: 12px
			opacity: 0
			padding: 0.4em
			transition: 0.3s all

			&:hover
				background-color: white
				color: black

	figcaption
		letter-spacing: 0.04em
		margin-top: 0.5em
		text-align: center

		div
			font-size: 12px
			text-transform: uppercase

			&.line1
				font-weight: bold

	figure
		background-color: white
		position: relative

	.img
		background-color: white
		height: $carousel_height
		line-height: $carousel_height
		text-align: center

		img
			display: inline-block

	.gallery-controls
		left: -1em
		position: absolute
		right: -1em
		top: 44%
		z-index: 2

		div
			cursor: pointer
			display: inline-block

			&.owl-next
				float: right

			&.owl-prev
				float: left

.post-share
	margin-top: 1em
	text-align: center

	.post-share-text
		font-size: 14px
		font-weight: 500
		text-transform: uppercase

	.social-networks
		margin-top: 3em
		position: relative

		&:before
			border: 1px solid black
			content: ''
			height: 2em
			left: calc(50% - 1px)
			position: absolute
			top: -2.5em

.post-subtitle
	font-size: 20px
	font-weight: bold
	margin: 0 0 1.5em 0
	text-align: center

.post-title
	font-size: 38px
	font-weight: bold
	margin-top: 0 
	text-align: center

.prod-team
	color: rgba(0, 0, 0, 0.3)
	font-family: monocromo
	font-size: 12px
	position: absolute
	right: 0.5rem
	-webkit-text-orientation: upright
	-moz-text-orientation: upright
	-ms-text-orientation: upright
	text-orientation: upright
	top: 0.5rem
	-webkit-writing-mode: vertical-lr
	-moz-writing-mode: vertical-lr
	-ms-writing-mode: vertical-lr
	writing-mode: vertical-lr
	z-index: 1

	a
		color: rgba(0, 0, 0, 0.3)
		display: inline-block
		transition: transform 0.3s

		&:hover
			color: black
			transform: rotate(90deg)

.read-more,
.view-artist
	background-color: black
	border: 1px solid black
	bottom: 3em
	color: white
	display: block
	font-size: 9px
	font-weight: 500
	letter-spacing: 0.2em
	padding: 0.25em 0.5em
	text-transform: uppercase
	transition: all 0.3s

	&:hover
		background-color: white
		color: black

.select-display
	font-size: 11px
	font-weight: 500
	letter-spacing: 0.2em
	list-style-type: none
	padding: 0
	text-transform: uppercase

	a
		color: rgba(0, 0, 0, 0.3)

	li
		display: inline-block
		padding: 0.2em
		width: 49%

		&.active a,
		a:hover
			color: black

		&:first-of-type
			text-align: right

	span
		margin: 0 0.25em
		vertical-align: middle

		&[class^="icon-"]
			font-size: x-large

.social-networks
	list-style-type: none
	margin: 0.5em 0
	padding: 0
	text-align: center

	.social-network
		display: inline-block
		font-size: 1.5em
		padding: 0.25em

		a
			background-color: white
			border-radius: 50%
			box-shadow: 0 0 0 1px transparent

			&:hover
				background-color: black
				box-shadow: 0 0 0 1px black
				color: white

.the-gallery-pic
	background-position: center
	background-repeat: no-repeat
	background-size: auto 60%
	display: none
	margin: 0 2em
	padding-top: 80vh
	position: relative

	&:before
		background-color: rgba(255, 255, 255, 0.4)
		content: ''
		height: 100%
		left: 0
		position: absolute
		top: 0
		width: 100%

	&:first-of-type
		background-position: right center

#map-canvas
	height: 500px
	margin: 0
	padding: 0
	width: 100%

#the-gallery
	.contact-info
		margin: 0 auto
		text-align: center
		//text-shadow: 1px 1px white

	.contact-city-details
		font-size: 18px
		font-weight: bold
		margin: 0
		//text-shadow: 1px 1px white

	.contact-city-mail
		font-size: 14px
		font-weight: bold
		//text-shadow: 1px 1px white

	.contact-city-name
		font-size: 12px
		font-weight: bold
		letter-spacing: 0.5em
		margin-bottom: 0
		text-transform: uppercase
		//text-shadow: 1px 1px white

		&:after
			border: 1px solid
			content: ''
			display: block
			height: 3em
			margin: 0.25em auto
			width: 0

	.contact-info-city
		margin: 0 auto 2em auto
		//text-shadow: 1px 1px white

	& > p
		font-family: 'suisse_works'
		font-size: 16px
		font-weight: bold
		line-height: 1.5em
		margin: 1em auto
		max-width: 500px
		text-align: center
		//text-shadow: 1px 1px white

@media screen and (max-width: $tablet)
	.navigation-menu
		height: $menu_height
		transition: all 0.3
		width: 100%

		nav,
		.kc-ml-languages,
		.prod-team
			display: none

		nav
			width: 100%

		ul
			list-style-type: none
			padding: 0
			text-align: center

		.kc-ml-languages
			.current-language a
				color: rgba(255, 255, 255, 0.7)


		.logo
			left: 10px
			position: absolute
			top: 0

		.menu
			font-size: 33px

		.nav-footer
			bottom: 1em
			left: 0
			position: absolute
			right: 0

		#hamburguer
			cursor: pointer
			font-size: 1.5em
			position: absolute
			right: 1em
			top: 1em
			transition: color 0.3s

@media screen and (min-width: $tablet)
	article
		margin: 0 auto
		max-width: 800px
		width: 75%

	.artists
		li
			display: inline-block
			width: 45%

		&.list
			margin-top: 3em
			width: 55%

			li
				/*padding: 0 1em*/
				padding-left: 12%

				/*&:nth-of-type(odd)
					text-align: right*/

		&.thumb
			text-align: center
			width: 100%

			li
				margin: 0.5em
				width: 250px

			.artist-name
				padding: 3em 0

			.view-artist
				bottom: 1em

				&:before
					bottom: 2.5em
					height: 2em

	.events
		left: 5em

	.exhibition-current
		.exhibition-detail
			width: 45%

		.exhibition-text
			width: 60%

		.exhibition-title
			width: 50%

	.exhibition-past
		margin: 1em
		vertical-align: top

	.index-menu
		margin-bottom: 0
		margin-top: 0

	.footer-item
		display: inline-block
		text-align: left

		&:not(:last-of-type)
			margin-right: 4em

	.footer-items
		left: 0
		right: 0
		text-align: center

	.kc-ml-languages
		display: inline-block

	.navigation-menu
		nav
			display: inline-block
			vertical-align: top

		ul
			list-style-type: none
			padding: 0

		li
			display: inline-block

		.kc-ml-languages
			position: absolute
			right: 5em
			top: 1em

		.kc-ml-languages,
		.menu
			a
				color: rgba(0, 0, 0, 0.3)

			a:hover,
			li.current_page_item a,
			li.current-language a
				color: black

		.menu li
			margin-left: 2em

		#hamburguer
			display: none !important

	.newsletter
		padding: 16em 1em 1em 1em

		.newsletter-title
			font-size: 72px
			//margin: 0 auto
			width: 420px

	.news-filter
		display: block

	.news-item
		padding: 2em 4em

	.picture-credits
		display: block

	.post-gallery
		button.icon-expand
			display: block

		figcaption
			div
				display: inline-block

		.gallery-controls
			left: -4em
			right: -4em

		&:hover button.icon-expand
			opacity: 1

	#the-gallery
		.contact-info-city
			display: inline-block
			vertical-align: top
			width: 250px

@media screen and (min-width: $desktop)
	article
		&.post
			margin-bottom: 14em

	.artists
		&.thumb
			li
				width: 250px

	.events
		display: block

	.exhibition-current
		margin: 4em auto
		max-width: 780px
		width: 75%

	.navigation-menu
		nav
			left: 0
			position: absolute
			right: 0
			text-align: center

		.kc-ml-languages
			right: 10em

	.post-actions
		position: absolute
		right: -9em
		top: 6em
		z-index: 9

	.post-content
		margin: 2em auto 0 auto
		width: 55%

	.the-gallery-pic
		display: block
