.post-gallery
	+fullscreen()
		background-color: white
		border: 10px solid black
		padding: 2em
		width: 100%

		button
			&.exit-fs
				display: block

			&.icon-expand
				display: none

		figure
			background-color: white

		.gallery-controls
			left: 1em
			right: 1em
		
		.img
			background: white
			line-height: $carousel_height_fs
			height: $carousel_height_fs

		.owl-carousel
			margin: 0 auto
			width: 95%

@media screen and (max-width: $tablet)
	.navigation-menu.is-visible
		background: #222
		border: 10px solid
		color: white
		height: 100%
		left: 0
		top: 0

		a
			color: white

			&:hover
				color: rgba(255, 255, 255, 0.7)

		nav,
		.kc-ml-languages,
		.social-networks
			display: block

		#hamburguer
			color: rgba(255, 255, 255, 0.7)