.post-gallery
	+fullscreen()
		border: 10px solid black
		padding: 2em
		width: 100%

		.gallery-controls
			left: 1em
			right: 1em
		
		.img
			line-height: $carousel_height_fs
			height: $carousel_height_fs

@media screen and (max-width: $tablet)
	.navigation-menu.is-visible
		background: #222
		border: 10px solid
		color: white
		height: 100%
		left: 0
		top: 0

		a
			color: white

			&:hover
				color: rgba(255, 255, 255, 0.7)

		nav,
		.kc-ml-languages,
		.social-networks
			display: block

		#hamburguer
			color: rgba(255, 255, 255, 0.7)