@import url(fontface.css);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

body {
  background: white;
  border: 10px solid white;
  color: black;
  font-family: "euclid_flex"; }

body,
html,
main,
.wrap {
  min-height: 100%;
  height: 100%; }

figure {
  margin: 0; }
  figure img {
    vertical-align: middle;
    width: 100%; }

main {
  padding: 1em; }

main {
  position: relative; }
  main.index {
    background-attachment: fixed !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    color: white;
    text-align: center; }
    main.index a {
      color: white; }
    main.index .footer-items,
    main.index .kc-ml-languages,
    main.index .logo {
      position: absolute; }
    main.index .footer-items {
      bottom: 0;
      left: 1em; }
    main.index .kc-ml-languages {
      right: 10em;
      top: 1em; }
    main.index .logo {
      left: 1em;
      top: 1em; }
    main.index .menu {
      font-size: 66px;
      font-weight: bold;
      text-align: center; }
      main.index .menu a:hover {
        color: #CCC; }
      main.index .menu li {
        display: block;
        line-height: 1em; }
      main.index .menu ul {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0; }

.vertical-align > * {
  display: inline-block;
  vertical-align: middle; }
.vertical-align:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -0.75em;
  vertical-align: middle; }

@media screen and (min-width: 48em) {
  .vertical-align:before {
    margin-right: -0.25em; } }
.announcements {
  font-size: 17px;
  margin: 0 auto;
  text-align: center; }
  .announcements span {
    display: inline-block;
    border: 3px solid;
    line-height: 1em;
    padding: 0.75em 1em; }

.footer-item {
  margin-bottom: 1em; }

.footer-items {
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  text-align: left; }

.index-menu {
  margin-top: -10em; }

.kc-ml-languages {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500; }
  .kc-ml-languages li {
    display: inline-block;
    text-transform: uppercase; }
    .kc-ml-languages li:not(:first-of-type):before {
      content: "/";
      display: inline-block;
      margin-right: 0.2em; }

.logo {
  display: inline-block;
  width: 250px; }

.picture-credits {
  bottom: 0;
  display: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  z-index: 0; }
  .picture-credits span:not(:first-of-type):before {
    content: "/";
    display: inline-block;
    margin-right: 0.2em; }

.prod-team {
  font-family: monocromo;
  position: absolute;
  right: 0.5em;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  text-orientation: upright;
  top: 0.5em;
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  z-index: 1; }
  .prod-team a {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
    .prod-team a:hover {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }

@media screen and (min-width: 48em) {
  .index-menu {
    margin-top: 0; }

  .footer-item {
    display: inline-block;
    text-align: left; }
    .footer-item:not(:last-of-type) {
      margin-right: 2em; }

  .footer-items {
    left: 0;
    right: 0;
    text-align: center; }

  .kc-ml-languages {
    display: inline-block; }

  .picture-credits {
    display: block; } }
